<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/navbar.html :: header( title = 'Transportistas')"></head>
    <body>
        <div class="container">
            <nav th:replace="fragments/navbar.html :: navbar( active = 'Shipper')"></nav>
            <h2 th:text="${shipper.companyname==null?'Nuevo Transportista':'Editar Transportista'}"></h2>
            <div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger" role="alert"></div>
            <hr/>
            <form method="post" th:action="@{'/shipper/save'}" th:object="${shipper}" >
                <div class="form-group">
                    <label for="companyname">Nombre de la compañía</label>
                    <input th:field="*{companyname}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input th:field="*{phone}" type="text" class="form-control">
                </div>
                <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary" th:text="${shipper.companyname==null?'Registrar':'Actualizar'}">Texto para el botón</button>
            </form>
        </div>
    </body>
</html>